.git
.github
.vscode
.venv
__pycache__
*.pyc
*.pyo
.pytest_cache
.ruff_cache
mlruns/
mlflow.db
ml_models/
server.log
.env
.env.*
frontend/frontend/node_modules
frontend/frontend/dist
docs/
mds/
infrastructure/monitoring
infrastructure/grafana
infrastructure/loki
infrastructure/tempo
infrastructure/prometheus
infrastructure/kubernetes
infrastructure/opentelemetry
*.md
!backend/README.md
